.obj {
    background-color: rgb(172, 108, 150);
    padding: 2em;
}

#head {
    margin: 1em;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(13, 96, 221)
}

html {
    font-size: 15px;
    font-weight: 30;
}